body{
	background-color:                    
}

table {
	border: 1px solid black;
	width: 100%
	border-collapse:collapse;
	table-layout: fixed;
	margin:auto;
	color:#FFC400;
}

caption {
	font-size:3em;
	font-weight: bold;
}

table,th,td{
	
	padding:20px;
    border-collapse:collapse;
    border: 2px solid black;
    width: 60px
}

.col{
	font-size:3em;
	text-align: center;
}

th{
	background-color:#01579B
}